on: [pull_request]
name: generate-conformance-tests
jobs:
  units:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 11 ]
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - uses: actions/setup-java@v4
      with:
        java-version: ${{matrix.java}}
    - run: ./generate-conformance-tests.sh
